<template name="nav">
    <nav class="navbar navbar-default navbar-static">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor route='home'}}">A&E Partner</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Новый заказ<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-12">
                            <ul>
                                <li class="dropdown-header">Новый заказ</li>
                                <li><a href="{{pathFor route='Трансфер'}}">Трансфер</a></li>
                                <li><a href="{{pathFor route='Экскурсия/шоу'}}">Экскурсия/шоу</a></li>
                                <li><a href="{{pathFor route='Такси'}}">Такси</a></li>
                                <li><a href="{{pathFor route='Виза'}}">Виза</a></li>
                                <li><a href="{{pathFor route='Шоппинг'}}">Шоппинг</a></li>
                                <li><a href="{{pathFor route='Spa'}}">Spa</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-large">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Добавление данных<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large row">
                        <li class="col-sm-12">
                            <ul>
                                <li class="dropdown-header">Все услуги</li>
                                <li><a href="{{pathFor route='addTransfer'}}">Трансфер</a></li>
                                <li><a href="{{pathFor route='addTour'}}">Экскурсия/шоу</a></li>
                                <li><a href="{{pathFor route='addTaxi_Route'}}">Маршрут такси</a></li>
                                <li><a href="{{pathFor route='addVisa'}}">Виза</a></li>
                                <li><a href="{{pathFor route='addShopping'}}">Шоппинг</a></li>
                                <li><a href="{{pathFor route='addSpa'}}">Spa</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{pathFor route='addProvider'}}">Новый организатор</a></li>
                                <li><a href="{{pathFor route='addPlace'}}">Новая локация</a></li>
                                <li><a href="{{pathFor route='addService'}}">Новый сервис</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{pathFor route='options'}}">Настройки</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </nav>
</template>
