<template name="addShopping">
	<div class="placer"></div>
	<button type="button" class="btn btn-blue btn-block show">
		<h3>Добавить новый шоппинг</h3></button>
	<div class="containerr">
		<div class="add-wrapper">
			{{#autoForm id="addShopping" type="insert" collection="Shoppings" resetOnSuccess=false}}
				<div class="roww">
					<div class="coll spann_8">
						<div class="coll spann_32">
							{{> afQuickField name="provider" }}
							{{> afQuickField name="shop_id"}}
							{{> afQuickField name="service"}}
						</div>
						<div class="coll spann_32">
							{{> afQuickField name="transfer_option"}}
						</div>
						<div class="coll spann_32">
							{{#if afFieldValueIs name="transfer_option" value="for_free_one_direction" }}
								{{> afQuickField name="transfer_price_one_direction"}}
								{{> afQuickField name="transfer_price_one_direction_net"}}
							{{/if}}
							{{#if afFieldValueIs name="transfer_option" value="buy_from" }}
								{{> afQuickField name="buy_from_sum_transfer"}}
							{{/if}}
							{{#if afFieldValueIs name="transfer_option" value="payed" }}
								{{> afQuickField name="transfer_price"}} {{> afQuickField name="transfer_price_net"}}
							{{/if}}
							{{#if afFieldValueIs name="transfer_option" value="exeptional" }}
								{{> afQuickField name="transfer_exeptional"}}
							{{/if}}
						</div>
						<div class="coll spann_32">
							{{> afQuickField name="delivery_option"}}
						</div>
						<div class="coll spann_32">
							{{#if afFieldValueIs name="delivery_option" value="buy_from" }}
								{{> afQuickField name="buy_from_sum_delivery"}}
							{{/if}}
							{{#if afFieldValueIs name="delivery_option" value="payed" }}
								{{> afQuickField name="delivery_price"}}
							{{/if}}
							{{#if afFieldValueIs name="delivery_option" value="exeptional" }}
								{{> afQuickField name="delivery_exeptional"}}
							{{/if}}
						</div>

					</div>

					<div class="coll spann_8">
						<div class="coll spann_16">
							{{> afQuickField name="work_time_from"}}
							{{> afQuickField name="work_time_to"}}
						</div>
						<div class="coll spann_16">
							{{> afQuickField name="transfer_time_from"}}
							{{> afQuickField name="transfer_time_to"}}
						</div>

					</div>

					<div class="coll spann_8">
						{{> afQuickField name="off_weekdays"}}
						{{> afQuickField name="additional_info"}}
							{{> afQuickField name="for_tourist_info"}}
							{{> afQuickField name="website_link"}}
					</div>

					<div class="coll spann_8">

						<div class="coll spann_16">
							{{> afQuickField name="district_overpay"}}
						</div>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<button type="submit" class="btn btn-success">Добавить</button>
					<button type="reset" class="btn btn-default">Сбросить</button>
				</div>
				<hr>
			{{/autoForm}}
		</div>
		<div class="roww">
			<div class="coll spann_32">
				{{> reactiveTable id="shoppingsTable" settings=reactive_table_settings_shopping}}
			</div>
		</div>
	</div>
	<script>
	$(document).ready(function()
	{
		$('.add-wrapper').hide();
		$(".show").click(function()
		{
			$(".add-wrapper").toggle();
		});
	});
	</script>
</template>

<template name="Shopping_updateModal">

	{{#afModal formId="f" collection="Shoppings" doc=_id operation="update" title="Форма обновления существующего шоппинга" prompt="Внесите свежие данные" buttonContent="Обновить шоппинг" buttonClasses="btn btn-success" }}
		<div class="update_class"></div>
	{{/afModal}}
	<script>
	</script>
</template>

<template name="Shopping_removeModal">
	{{#afModal collection="Shoppings" doc=_id operation="remove" title="Удаление существующего шоппинга" prompt="Вы уверены, что хотите удалить этот шоппинг?" buttonContent="Удалить шоппинг" buttonClasses="btn btn-danger" }}
		<div class="remove_class"></div>
	{{/afModal}}
	<script>
	</script>
</template>
